.events-page {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background: #f3f4f6; /*white background */
}

/* ensure that the top part of the page does not move up or down during filtering */
.events-top-fixed {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  padding: 10px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* For the Header Row */
.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
  padding: 12px 20px;
  border-radius: 12px;
  color: white;
  margin-bottom: 10px;
}

.events-header h1 {
  margin: 0;
  font-size: 26px;
}

/* Logout button */
.logout-btn {
  background: white;
  color: #4f46e5;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e0e7ff;
}

/* The row in Events page for event filtering */
.events-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.events-filters input,
.events-filters select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}


.events-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 15px;
}


@media (max-width: 1200px) {
  .events-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .events-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .events-grid-container {
    grid-template-columns: 1fr;
  }
}
